<div class='cell'>
  <h1>
    {{#link-to 'index' class='logo'}}
      <b class='srt'>Wilderness Safety Quiz</b>
    {{/link-to}}
  </h1>

  <div class='card'>
    {{outlet}}

    <footer class='footer'>
      <p class='footer-copyright'>
        <span class='footer-copyright-text'>&copy; Woodland Wanderer Whatchamacallits</span>
      </p>
    </footer>
  </div>
</div>
